body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #31608f;
    text-align: var(--bs-body-text-align);
    background-color: #0b0c0d !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

.list-group {
    background: transparent;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: transparent!important;
    border-width: 0px 0px 1px !important;
    border-color: #47484a !important;
    margin-top: 4%;
}

.list-group .list-group-item:nth-last-child(1) {
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 493px;
    object-fit: cover;
}

.figure-caption {
    font-size: .875em;
    color: #e8f1f9!important;
    font-weight: 500;
    font-size: 17px!important;
}

.btn-primary {
    color: #fff;
    background-color: #364254!important;
    border-color: transparent!important;
    font-weight: 700 !important;
    margin-top: 3%;
}

.post-insight {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

#feed {
    padding-bottom: 15%;
    padding-top: 15%;
}

.figure {
    width: 100%;
}

.post-insight {
    margin-top: 4%;
}

.post-interact {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 800;
    width: 100%;
}

.post-interact .likes {
    font-family: system-ui;
}

.post-interact .comments {
    font-family: system-ui;
    color: #aac3d8;
    padding-left: 4%;
    width: 100%;
}

.post-main .likes {
    font-size: 30px;
    padding-left: 30px;
    font-weight: 800;
    color: #b3cbf0;
    display: flex;
    flex-direction: column;
}

.post-main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.post-interact .box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.post-interact .box11 {
    width: 77%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-interact .howlong {
    font-size: 13px;
}

.post-interact .actionbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post-interact .actionbox a {
    margin-right: 2%;
}